.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.icon-button {
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-button:hover {
  color: var(--hover-color);
  transform: scale(1.2);
}

/* Responsividade para Social Icons */
@media (max-width: 768px) {
  .icons {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .icon-button {
    margin-bottom: 15px;
  }
}
